v\:* {
    behavior:url(#default#VML);
}

html, body {
    overflow: hidden;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Lucida Grande',Geneva,Arial,Verdana,sans-serif;
}

body {
    margin: 10px;
    background: #fff;
}

h1 {
    margin: 0;
    padding: 6px;
    border:0;
    font-size: 20pt;
}

#header {
    height: 43px;
    padding: 0;
    background-color: #eee;
    border: 1px solid #888;
}

#subheader {
    height: 12px;
    text-align: right;
    font-size: 10px;
    color: #555;
}

#map {
    height: 90%;
    border: 1px solid #888;
}